  <footer class="footer">
            <ul>
                <li><a href="https://github.com/Arv1u" title="Github Profile"><img class="social-icon" src="assets/images/github-logo.png"></a></li>
                <li><a href="https://www.instagram.com/arv1u/" title="Instagram"><img class="social-icon" src="assets/images/instagram-logo.png" alt="Instagram"></a></li>
                <li><a href="https://x.com/Arv1u_" title="Twitter/X"><img class="social-icon" src="assets/images/x-logo.png" alt="Twitter/X"></a></li>
            </ul>
  </footer>